@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


/*PÁGINA TODA*/
.pagina{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}


/*TOPO*/
.container_topo{
  max-width: 1024px;
  width: 100%;
  height: 500px;
  text-align: center;

  background-image: url("/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topo_texto{
  max-width: 50%;
}

.topo_texto h1{
  font-size: 46px;
  color: #ffffff;
  text-shadow: #e3bb6a 0px -3px 8px, #a8652d 0px -4px 10px, #f0641e 0px -5px 12px;
}

.topo_texto p{
  font-family: 'Dancing Script', 'cursive';
  font-size: 32px;
  color: #daa520;
}


/*CONTEÚDO*/
.main{
  width: 100%;
  padding: 50px 20px;
  text-align: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

}

.main h2{
  color: #daa520;
}

/*Cardapio*/
.container_cardapio{
  max-width: 1024px;
  width: 100%;
  padding: 20px;
  background-color: #f3f3f3;
  
  flex: 1 1 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 40px;

}


/*PÁGINAÇÃO*/
.paginacao{
  display: flex;
  gap: 20px;
}


.paginacao button{
  background-color: #fff;
  width: 50px;
  height: auto;
  font-size: 30px;
  border: none;
}


@media(max-width: 768px){

  .container_topo{
    height: 380px;
  }


  .topo_texto h1{
    font-size: 32px;
  }
  
  .topo_texto p{
    font-size:  24px;
  }

}


@media(max-width: 375px){

  .container_topo{
    height: 190px;
  }

  .topo_texto{
    max-width: 75%;
  }

  .topo_texto h1{
    font-size: 28px;
  }
  
  .topo_texto p{
    font-size:  20px;
  }

}